<!DOCTYPE html>
<html lang="{{ site.lang | default: en-US }}"">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="{{ page.description | default: site.description2 }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <section class="page-headerj">
      <div>
        {% include face-pic.html %}
        <h1 class="project-namej">{{ site.title }}</h1>
      </div>
      <div>
      <h2 class="project-taglinej" style="margin-left=100px text-align=center"><a href="mailto:emilywilson6263@gmail.com" class="linkj">emilywilson6263@gmail.com</a></h2>
      <h2 class="project-taglinej" style="margin-right=100px text-align=center">GitHub: <a href="http://github.com/emilywilson1" class="linkj">emilywilson1</a></h2>
      </div>
      <div style="column-count: 3">
        <h2 class="project-taglinej"><a href="/index.html#projects" class="linkj">Projects</a></h2>
        <h2 class="project-taglinej"><a href="/about#about" class="linkj">About</a></h2>
        <h2 class="project-taglinej"><a href="/resume#resume" class="linkj">Resume</a></h2>
      </div>



    </section>